
# EAD Search Interface
<Location /ead/search>
  SetHandler mod_python
  PythonDebug Off
  PythonPath "['', '${C3ARCHIVESHOME}/www/apps/ead']+sys.path"
  PythonHandler eadSearchHandler
  PythonAutoReload On
</Location>


# EAD Administration Interface
<Location /ead/admin>
  SetHandler mod_python
  PythonDebug Off
  PythonPath "['', '${C3ARCHIVESHOME}/www/apps/ead']+sys.path"
  PythonHandler eadAdminHandler
  PythonAutoReload On

  # Authentication
  AuthType Basic
  AuthUserFile /dev/null
  AuthBasicAuthoritative Off
  AuthName "Cheshire3 EAD Database Administration"
  require valid-user
  PythonAuthenHandler eadAdminHandler

</Location>

# EAD Editing Interface
<Location /ead/edit>
  SetHandler mod_python
  PythonDebug Off
  PythonPath "['', '${C3ARCHIVESHOME}/www/apps/ead']+sys.path"
  PythonHandler eadEditingHandler
  PythonAutoReload On
  # Authentication
  AuthType Basic
  AuthUserFile /dev/null
  AuthBasicAuthoritative Off
  AuthName "Cheshire3 EAD Database Administration"
  require valid-user
  PythonAuthenHandler eadEditingHandler
</Location>

# Static web content

Alias /ead ${C3ARCHIVESHOME}/www/htdocs/ead
<Directory ${C3ARCHIVESHOME}/www/htdocs/ead>
  DirectoryIndex index.html welcome.html
  Order allow,deny
  Allow from all
</Directory>


# EAD preview sub-directory
<Directory ${C3ARCHIVESHOME}/www/htdocs/ead/html/preview>
  Options Includes Indexes
  AddType text/html .shtml
  AddHandler server-parsed .shtml
  PythonPath "['', '${C3ARCHIVESHOME}/www/apps/ead']+sys.path"
  # Authentication
  AuthType Basic
  AuthUserFile /dev/null
  AuthBasicAuthoritative off
  AuthName "Cheshire3 EAD Database Administration"
  require valid-user
  PythonAuthenHandler eadAdminHandler
</Directory>

# Server Side Includes (SSI)
<Directory ${C3ARCHIVESHOME}/www/htdocs/ead/html>
  Options Includes Indexes
  AddType text/html .shtml
  AddHandler server-parsed .shtml
</Directory>
