ul.SimpleContextMenu {
    display: none;
    position: absolute;
    margin: 0px;
    padding: 0px;
    font-family: arial;
    font-size: 12px;
    list-style-type: none;
    border: 1px solid #000000;
    z-index:1;
}

ul.SimpleContextMenu li {
 /*   border-bottom: 1px solid #000000;*/
    width: 100px;
    margin: 0px;
    padding: 2px 10px 3px 10px;
    clear: both;
    background-color: #eeeeee;
    cursor: default;
}

ul.SimpleContextMenu li img {
	float: right;
}

ul.SimpleContextMenu li:hover {
    text-decoration: none;
    color: black;
    background: #aaffaa;
}

