#treeDiv {
	font-size: small;
}

body {
	overflow: hidden;	
}

body.waiting, body.waiting textarea, body.waiting input, body.waiting a {
	cursor: wait;
	}



span.isadg {
	display: inline;	
}

.menuFieldError {
		background-color: #ffaaaa;
	}

textarea, input {
		font-family: arial, helvetica, gill, sans-serif;
		font-size: 11pt; 
	}
	
.added {
	float: left;
	width: 563px;
	background: #F2F2F2;
	border: solid 1px #000000;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-left: 0px;	
}


.icons {
	float: left;
	padding-right: 5px;
	padding-left: 3px;
	padding-top: 3px;
	padding-bottom: 3px;

}

.section {
	border-bottom: solid gray 2px;
	
}

br {
	clear: both;
}

.smalllink {
	color: blue;
	text-decoration: underline;	
	cursor: pointer;
	
}

.valid, .invalid {
	cursor: pointer;	
	}

.whatsthis {
	padding-right: 2px;
	padding-left: 2px;
	}

/*
A:link {text-decoration: none}
A:visited {text-decoration: none}
A:active {text-decoration: none}
A:hover {text-decoration: underline; color: red;}*/

.accesspoint {
	margin-left: 105px;
}

.addfield {
	padding-left: 5px;
	color: blue;
	text-decoration: underline;	
	cursor: pointer;
	}

.tablecontainer {
	float: left;
	margin-top: 8px;
}


.tablecontainer .label {
	width: 75px;
}

.buttoncontainer {
	float: right;
	margin-top: 8px;
}

.apbutton {
	margin-top: 5px;
	margin-left: 10px;
	width: 150px;
}

td .apbutton {
	margin-left: 0px;	
}

buttoncontainer p {
	width: 150px;
}

.apcontainer {
	border-top: solid gray 1px;
	width: 600px;
}

.langcontainer {
	width: 600px;
}

.float {
	float: left;	
}

.formDiv {
	font-size: small;
/* should use scroll for windows */
}

.extSearch{
	cursor: pointer;
	}

/*======================================*/


#keyboard {
  	border: solid black 1px;
	position: fixed;
	bottom: 50px;
	left: 10px;
	width: 9cm;
	heigth: 10cm;
   	background: #0b2277;
}

#keyboardtitle {
	font-weight: normal; 
	font-size: 11pt; 
	padding-left: 2px; 
	width: 63%; 
	text-align: right;
	float: left;
	}

.capslock {
	float: left;
	margin-left: 5px;
	height: 15px;
	
	}

#charlink, 
#charlinkpressed {
	font-size: 9pt;
	float: left;
	width: 100px;
	padding: 4px;
	margin-left: 3px;
	margin-bottom: 4px;
	}
	
#charlinkpressed {
	border-top: 2px solid gray;
	border-left: 2px solid gray;
	border-bottom: 2px solid white;
	border-right: 2px solid white;
	}
	
#charlink {
	border-top: 2px solid white;
	border-left: 2px solid white;
	border-bottom: 2px solid gray;
	border-right: 2px solid gray;
	}

#keyboardlink {
	font-size: 10pt;
	float: right;
	}

td button {
	width: 0.8cm;
	height: 0.7cm;
	border-top: 2px solid white;
	border-left: 2px solid white;
	border-bottom: 2px solid gray;
	border-right: 2px solid gray;
	}

#keyboardcontrolbar {
	color: white;
	}
	

#chartableupper,
#chartablelower {
	padding: 7px;
	background: #e5e5e5;
	position: relative;

	}
	
/*======================================*/

a.valid {
	color: black;
	}

a.invalid {
	color: red;
	}


.readonly {
	background: #e7e7e7;
	color: #7f7f7f;
}

.pui {
	float: right;
	padding: 10px;
}

.menubutton {
	float: left;
	margin-top: 5px;
	margin-left: 10px;
	width: 100px;
}

.formbutton {
	float: left;
	margin-top: 5px;
	margin-left: 10px;
}

/* ==========================================*/
DAO STUFF

.odd {
	background: #F2F2F2;
}