/*
	This file was produced, and released as part of Cheshire for Archives v3.x
	Copyright &copy; 2005-2008 the University of Liverpool
*/

body {
  margin: 0;
  padding: 75px 10px 60px 0;
  /* Prevent body becoming narrower than wrapper - keeps the content from disappearing off the left edge with Gecko browsers */ 
  min-width: 770px;
  height: 100%;
}
div#banner,
div#leftcol,
div#rightcol,
div#wrapper
{
	padding: 0px;
	position: absolute;
	text-align: left;
	left: 0;
	overflow: auto;
}

div#banner,
div#navbar {
	position: fixed;
	overflow: visible;
	width: 100%;
}

div#banner {
	top: 0;
	height: 75px;
	z-index: 2;
	overflow: auto;
}
div#navbar {
	top: 75px;
	height: 25px;
	padding: 0px 15px 0px 15px;
	z-index: 3;
	overflow: display;
	clear: both;
	vertical-align: middle;
}

div#banner div { padding: 5px 15px 5px 15px; }
div#crest{ float: left; }
img.rep-logo { max-height: 65px; }
div#c3logo{ float: right; }

div#wrapper {
	top: 100px;
	bottom: 50px;	
}

div#leftcol,
div#rightcol {
	top: 0;
	bottom: 0px;
	padding: 5px;
	min-height: 10px;
	overflow-y: scroll !important;
}


div#wrapper {
	width: 99%;
	padding: 5px 0 0 15px;
}
div#leftcol {
	width: 39%;
	margin: 1px 2px 1px 2px;
	border-right: 1px solid white;
}

div#rightcol {
	width: 59%;
	margin-left: 40%;
}

div#footer {
	bottom: 0;
	z-index: 1;
	width: 100%;
	max-height: 50px;
	background: white;
	border-top: 2px solid silver;
}

@media screen {
	body>div#banner,
	body>div#leftcol,
	body>div#footer
	{
		position: fixed;
	}
}

div#technologies { 
  min-width:240px;
  padding: 5px;
  float: left;
}
div#supporters {
  float: left;
  min-width:390px;
  padding: 5px;
  padding-left: 50px;
  padding-right: 50px;
  margin-right: auto;
}
div#version,
div#copyright
{
  padding-right: 5px;
  text-align: right;
  font-size: smaller;
}

h4.ead {clear:both;}

#hitreport { 
  margin-top: 10px;
  margin-bottom: 10px;
}

.hitnav {
  margin-top: 10px;
  margin-bottom: 10px;
}

.pagenav {
	padding:3px 0 3px 0;
}

.backlinks { 
  float: left;
  min-width: 85px;
  text-align:left;
}
.numnav { 
  margin-left: 85px;
  margin-right:85px;
  text-align:center;
}
.forwardlinks { 
  float:right;
  min-width: 85px;
  text-align: right;
}

ul { 
  margin: 0 0 0 0;
  padding-top: 0;
  padding-bottom: 2px;
}

ul.hierarchy,
ul.unmarked {
  list-style-type: none;
  list-style-position: outside;
  padding-left: 10px;
}

ul.hierarchy {
	margin-left: 5px;
	padding-bottom: 0;
}

ul.hierarchy li {
	clear: both;
	white-space: nowrap;
}

ul.facetlist {
	padding-left: 0px;;	
}

div.facet {
	padding-bottom: 10px;
}

div.did,
div.eadheader {
	margin-bottom: 2px;
}
/*
div#eadheader,
div#traceback {
	display: none;
}
*/
hr {
	clear: both;
	margin-bottom: 0;
	padding-bottom: 0;
}
div#full-link {
	float:right;
}

div.archdesc {
	padding-top: 10px;
	clear:both;
}

div.daos {
	width: 200px;
	float:right;
	padding-left: 2px;
}

div.dao {
	overflow: auto;
}

div.embed-img {
	
}

/*
div.comphier {
	display:none;
}
*/

table.results {
	width:96%;
	max-width: 600px;
}

td.term {
	min-width: 150px;
}