/*
  This file was produced, and released as part of Cheshire for Archives v3.x
  Copyright &copy; 2005-2010 the University of Liverpool

colours:

blues (pale - dark):

b7e8f5
00afdb
16145f

orange: f8971d

*/

body { 
  color: black;
  color: #16145f;
  background-color: white;
  font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-size: 10pt;
}

img { 
  border: 0;
}

img.screenshot {
	padding: 10px;
	border:	2px inset black;
}

div#header {
    background-image: url(/ead/img/c4a_boxstack.png);
    background-repeat: no-repeat;
    background-position: top right;
	/*background-color: #b7e8f5;*/
  	color: #16145f;
}

body,
div#banner,
div#navbar {
	background-repeat: repeat-y;
	background-position: left;
}

div#navbar {
	width: 99%;
	color: #f8971d;
	font-weight: bold;
	/*background-color: #0b2265;*/
	background-color: #b7e8f5;
}

div#leftcol.toc {
	font-size: 10pt;	
}

div.daos {
	background-color: #b7e8f5;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

div.daohead,
div.daobody {
	padding: 0 5px;
}

div.daohead {
	font-size: 11pt;
	font-weight: bold;	
}

div.dao {
	padding: 5px 0;
}

div#no-hits-img img {
	background-color: #f5f5f5;
	border: 1px solid silver;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	padding:5px;
}

/* TABLES */

table.results {
	border-collapse: collapse;
	font-size: 10pt;
}

table.adminmenu { 
}

table.rebuildtable {
	font-size: 10pt;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 10px 0
}

table.rebuildtable tr,
table.rebuildtable td {
	border: 1px solid black;
	padding: 0 5px;	
}

tr.headrow {
	font-size: 11pt;
	font-weight: bolder;
/* like navbar */
/*  color: #ffffff;*/
/*  background-color: #0b2265;*/ /*dark blue*/
/* like titlebar */
	color: #16145f;
	background-color: #b7e8f5;
}

tr.odd { 
  color: black;
}

tr.even {
  color: black;
  background-color: #eeeeee;
}

td.hit,
td.comphit {
	border-width: 1px 0 1px 0;
	border-style: dotted;
	border-color: black;
}

td.relv,
td.hitcount {
	padding-left: 10px;
	text-align: right;
}


table.nassischneiderman {
	border-collapse: collapse;
	margin-top: 1em;
	margin-bottom: 1em;
}

table.nassischneiderman td {
	border: 1px solid black;
	vertical-align:top;
}


/* HEADINGS */

h1 {
    color: #16145f;
    font-size: 12pt;
    margin-top: 2px;
    margin-bottom: 2px;
}
h2 { 
    color: #16145f;
    font-size: 12pt;
    margin-top: 2px;
    margin-bottom: 2px;
}
h2.unittitle {
    text-align: center;
    margin-bottom: 1em;
}
h3 {
    font-size: 11pt;
    margin-top: 0.1em;
    margin-bottom: 0.5em;
}
.bar, 
h3.ead, 
h3.redheading, 
h3.greenheading {
	background-color: #b7e8f5;
	padding: 2px;
	margin: 1em 0 0.5em 0;
}
h3.redheading {
    background-color: #ffaaaa;
}
h3.greenheading {
    background-color: #aaffaa;
}
h4 {
    font-size: 11pt;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}
h5 {
    font-size: 11pt;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}
h5.minor {
    font-size: 10pt;
    color: #0b2265;
    margin-left: 5px;
}
h6 {
    font-size: 10pt;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

/* LISTS */

ul.unmarked {
    margin-bottom: 1em;
}

ul.hierarchy { 
    border-left: 1px dotted #aaaaaa;
}

/* Facets */
div.facet {
	font-size: 10pt;
}
span.facethead {
	font-weight: bold;	
}
span.facet-hitcount {
	color: #666;	
}
ul.facetlist {
	list-style: square inside;
}

/*
ul.facetlist li:before {
	content: "\00BB \0020";
}
*/
ul.facetlist li.unmarked {
	list-style: none;
}


/* LINKS */

a:link,
a:visited
{
  color: #0000dd;
  text-decoration: none;
}

a:hover,
a:visited:hover
{
  color: #6600ff;
  text-decoration: underline;
}

a.jscall {
  color: #0000ff;
  font-size: small;	
  font-weight: normal;
}

.navbar { 
	color: #16145f;
	font-size: 11pt;
	padding-bottom: 0px;
	/*font-variant: small-caps;*/
}
.navbar a:link,
.navbar a:visited
{
  color: #16145f;
  text-decoration: none;
}
.navbar a:hover,
.navbar a:visited:hover {
  color: #16145f;
  text-decoration: underline;
}

a.buttonlink {
  display:block;
  color: black;
  text-align: center;
  background-color: #eeeeee;
  font-size: 10pt;
  padding-left: 5px;
  padding-right: 5px;
  margin: 2px;
  border: 2px outset #dddddd;
  text-decoration: none;

}

a.buttonlink:active {
  display: block;
  border: 2px inset #dddddd;
  text-decoration: none;
}

a.buttonlink:visited:hover {
  display: block;
  color: black;
  text-decoration: none;
}

/* text and spans */

.error { color: #cc0000; font-weight: bolder;}
.ok { color: #009900; font-weight: bolder;}

span.highlight { 
	color: black;
	padding-left: 1px;
	padding-right: 1px;
	border: 1px solid #ffc0c0;
	background-color: #ffe0e0;
}

span.subcount {
  color: #555555;
  font-size: smaller;	
}

span.printlink {
  font-size: small;	
  font-weight: normal;
}

label.small { 
  font-size: smaller;
}

/* border and background colour for hit navigation bar */
.hitnav { 
  border: 0;
  color: black;
}

/* border and background colour for page navigation bar */
div.pagenav { 
	color: black;
	background-color: #f5f5f5;
	border: 1px solid #c0c0c0;
}

div.component {
  border-left: solid #aaaaaa 1px;
  padding-left: 5px;
}

div.passwdconfirm {
	background-color: #c4d6f8;
	padding: 5px;
	border: solid black 1px;	
}

div.button {
	float: left;
	padding-right: 30px;
	height: 50px;
	padding-top: 5px;
	width: 100px;
}

div.explanation {
	float: none;
	height: 50px;
}

table {
	padding-top: 0;
}
