/*
  This file was produced, and released as part of Cheshire for Archives v3.0.x
  Copyright &copy; 2005-2009 the University of Liverpool
*/

body { 
  color: black;
  background-color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10.5pt;
}

img { 
  border: 0;
}

img.screenshot {
	padding: 10px;
	border:	2px inset black;
}

div#header {
	background-image: url(/ead/img/bg-gradient-t-10.png);
	background-repeat: repeat-x;
	background-position: top left;
	background-color: #c4d6f8;
  	color: #000000;
}

body,
div#banner,
div#navbar {
	background-image: url(/ead/img/bg-gradient-l-10.png);
	background-repeat: repeat-y;
	background-position: left;
}

div#navbar {
	background-color: #0b2265;
}

div#leftcol.toc {
	font-size: 10.5pt;	
}

div.daos {
}

div.daos span.rnd1,
div.daos span.rnd2,
div.daos span.rnd3,
div.daos span.rnd4 {background-color: white; font-size:1px; overflow:hidden; display:block;}

div.daos span.rnd1 {height:2px; background:#f5f5f5; margin:0 1px; border-right:1px solid silver; border-left:1px solid silver;}
div.daos span.rnd2 {height:1px; background:#f5f5f5; margin:0 2px; border-right:1px solid silver; border-left:1px solid silver;}
div.daos span.rnd3 {height:1px; background:#f5f5f5; margin:0 3px; border-right:2px solid silver; border-left:2px solid silver;}
div.daos span.rnd4 {height:1px; background:silver; margin:0 5px; }

div.daohead,
div.daobody {
	background-color: #f5f5f5;
	border-left:1px solid silver;
	border-right:1px solid silver; 
	padding: 0 5px;
}

div.daohead {
	font-size: 11pt;
	font-weight: bold;	
}

div.dao {
	padding: 5px 0;
}

/* TABLES */

table.results {
	border-collapse: collapse;
	font-size: 11pt;
}

table.adminmenu { 
}

table.rebuildtable {
	font-size: 10pt;
	border-collapse: collapse;
	border-spacing: 0;
}
table.rebuildtable tr,
table.rebuildtable td {
	border: 1px solid black;	
}

tr.headrow {
	font-size: 11pt;
	font-weight: bolder;
/* like navbar */
/*  color: #ffffff;*/
/*  background-color: #0b2265;*/ /*dark blue*/
/* like titlebar */
	color: #000000;
	background-color: #c4d6f8;
}


tr.odd { 
  color: black;
}

tr.even {
  color: black;
  background-color: #eeeeee;
}

td.hit,
td.comphit {
	border-width: 1px 0 1px 0;
	border-style: dotted;
	border-color: black;
}

td.relv,
td.hitcount {
	padding-left: 10px;
	text-align: right;
}

table.facets tr.headrow{
}
table.facets tr.subheadrow {
	font-weight: bolder;
}
table.facets tr.even {
}

table.nassischneiderman {
	border-collapse: collapse;
	margin-top: 1em;
	margin-bottom: 1em;
}

table.nassischneiderman td {
	border: 1px solid black;
	vertical-align:top;
}


/* HEADINGS */

h1 { font-size: 14pt; margin-top: 2px; margin-bottom: 2px;}
h2 { font-size: 14pt; margin-top: 2px; margin-bottom: 2px;}
h2.unittitle { text-align: center; margin-bottom: 1em;}
h3 { color: #000000; font-size: 12pt; margin-top: 0.1em; margin-bottom: 0.5em;}
.bar, h3.ead, h3.redheading, h3.greenheading{ background-color: #c4d6f8; padding: 2px; border: solid black 1px; margin: 1em 0 0.5em 0;}
h3.redheading { background-color: #ffaaaa; }
h3.greenheading { background-color: #aaffaa; }
h4 {font-size: 12pt; margin-top: 0.1em; margin-bottom: 0.1em;}
h5 {font-size: 12pt; margin-top: 0.1em; margin-bottom: 0.1em;}
h5.minor {font-size: 11pt; color: #0b2265; margin-left: 5px;}
h6 {font-size: 11pt; margin-top: 0.1em; margin-bottom: 0.1em;}

/* LISTS */

ul.unmarked {
  margin-bottom: 1em;
}

ul.hierarchy { 
  border-left: 1px dotted #aaaaaa;
}

/* Facets */
div.facet {
	font-size: 10pt;
}
span.facethead {
	font-weight: bold;	
}
span.facet-hitcount {
	color: #666;	
}
ul.facetlist {
	list-style: square inside;
}

/*
ul.facetlist li:before {
	content: "\00BB \0020";
}
*/
ul.facetlist li.unmarked {
	list-style: none;
}


/* LINKS */

a:link,
a:visited
{
  color: #0000dd;
  text-decoration: none;
}

a:hover,
a:visited:hover
{
  color: #6600ff;
  text-decoration: underline;
}

a.jscall {
  color: #0000ff;
  font-size: small;	
  font-weight: normal;
}

.navbar { 
	color: white;
	font-size: 11pt;
	padding-bottom: 0px;
	/*font-variant: small-caps;*/
}
.navbar a:link,
.navbar a:visited
{
  color: white;
  text-decoration: none;
}
.navbar a:hover,
.navbar a:visited:hover {
  color: white;
  text-decoration: underline;
}

a.buttonlink {
  display:block;
  color: black;
  text-align: center;
  background-color: #eeeeee;
  font-size: 10pt;
  padding-left: 5px;
  padding-right: 5px;
  margin: 2px;
  border: 2px outset #dddddd;
  text-decoration: none;

}

a.buttonlink:active {
  display: block;
  border: 2px inset #dddddd;
  text-decoration: none;
}

a.buttonlink:visited:hover {
  display: block;
  color: black;
  text-decoration: none;
}

/* text and spans */

.error { color: #ff0000; }
.ok { color: #009900;}

span.highlight { 
  color: black;
  background-color: #ffaaaa;
}

span.subcount {
  color: #555555;
  font-size: smaller;	
}

span.printlink {
  font-size: small;	
  font-weight: normal;
}

label.small { 
  font-size: smaller;
}

/* border and background colour for hit navigation bar */
.hitnav { 
  border: 0;
  color: black;
}

/* border and background colour for page navigation bar */
div.pagenav { 
  color: black;
  background-color: #f5f5f5;
  border: 1px solid #c0c0c0;
}

div.component {
  border-left: solid #aaaaaa 1px;
  padding-left: 5px;
}

div.passwdconfirm {
	background-color: #c4d6f8;
	padding: 5px;
	border: solid black 1px;	
}

div.button {
	float: left;
	padding-right: 30px;
	height: 50px;
	padding-top: 5px;
	width: 100px;
}


div.explanation {
	float: none;
	height: 50px;
}

table {
	padding-top: 0;
}
