<config type="database" id="db_ead">

<!-- 
	This file was produced, and released as part of Cheshire for Archives v3.x.
	Copyright &copy; 2005-2007 the University of Liverpool
 -->

    <objectType>database.SimpleDatabase</objectType>
    
    <options>
        <setting type="srw">1</setting>
        <setting type="z3950">1</setting>
        <setting type="oai-pmh">1</setting>
    </options>

    <paths>
        <path type="defaultPath">dbs/ead</path>
        <path type="metadataPath">stores/metadata.bdb</path>
        <path type="indexStoreList">indexStore</path>
        <object type="recordStore" ref="recordStore"/>
        <object type="protocolMap" ref="eadCqlProtocolMap"/>
    </paths>

    <subConfigs>

	<!-- protocol map -->
        <subConfig type="protocolMap" id="eadCqlProtocolMap">
          <objectType>protocolMap.CQLProtocolMap</objectType>
          <paths>
            <path type="zeerexPath">zeerex_srw.xml</path>
          </paths>
        </subConfig>
	    
        <subConfig type="protocolMap" id="eadZProtocolMap">
            <objectType>protocolMap.Z3950ProtocolMap</objectType>
            <paths>
                <path type="zeerexPath">zeerex_z3950.xml</path>
            </paths>
        </subConfig>
        
        <subConfig type="protocolMap" id="eadOAIProtocolMap">
            <objectType>protocolMap.OAIPMHProtocolMap</objectType>
            <paths>
                <path type="zeerexPath">zeerex_oai.xml</path>
            </paths>
        </subConfig>
        
        <subConfigs>
            <path type="includeConfigs">configs.d</path>
        </subConfigs>

        <!-- postgreSQL  -->
        <subConfig type="resultSetStore" id="eadResultSetStore">
             <objectType>postgres.PostgresResultSetStore</objectType>
             <paths>
               <path type="databaseName">db_ead</path>
               <path type="tableName">eadResultSetStore</path>
               <path type="recordStoreHash">recordStore componentStore</path>
               <object type="idNormalizer" ref="StringIntNormalizer"/>
             </paths>
             <options>
               <default type="expires">3600</default>
             </options>
        </subConfig>
		
    </subConfigs>

</config>

