<config type="database" id="db_ead">

<!-- 
	This file was produced, and released as part of Cheshire for Archives v3.x.
	Copyright &copy; 2005-2007 the University of Liverpool
 -->

  <objectType>database.OptimisingDatabase</objectType>

  <options>
    <setting type="srw">1</setting>
    <setting type="z3950">1</setting>
    <setting type="oai-pmh">1</setting>
  </options>

  <paths>
    <path type="defaultPath">dbs/ead</path>
    <path type="metadataPath">stores/metadata.bdb</path>
    <path type="indexStoreList">indexStore</path>
    <object type="recordStore" ref="recordStore"/>
    <object type="protocolMap" ref="eadCqlProtocolMap"/>
  </paths>

  <subConfigs>

		<!-- documentFactories - this is where we get the data from -->
		<subConfig type="documentFactory" id="baseDocumentFactory">
			<objectType>documentFactory.BaseDocumentFactory</objectType>
			<options>
				<default type="data">/home/cheshire/cheshire3/cheshire3/dbs/ead/data</default>
				<default type="format">dir</default>
				<default type="schema">ead</default>
				<default type="cache">0</default>
				<!-- default type="codec">latin1</default-->
			</options>
		</subConfig>
		
		<subConfig type="xpathObject" id="componentXPath">
			<objectType>xpathObject.XPathObject</objectType>
			<source>
				<xpath>c</xpath>
				<xpath>c01</xpath>
				<xpath>c02</xpath>
				<xpath>c03</xpath>
				<xpath>c04</xpath>
				<xpath>c05</xpath>
				<xpath>c06</xpath>
				<xpath>c07</xpath>
				<xpath>c08</xpath>
				<xpath>c09</xpath>
				<xpath>c10</xpath>
				<xpath>c11</xpath>
				<xpath>c12</xpath>				
			</source>
		</subConfig>
		
		<subConfig type="documentFactory" id="componentDocumentFactory">
			<objectType>documentFactory.ComponentDocumentFactory</objectType>
			<source>
<!--				<xpath>*[regexp(name(), '^c([0-1][0-9])?$')]</xpath>-->
				<xpath ref="componentXPath" />
			</source>
			<options>
				<default type="cache">0</default>
				<default type="format">component</default>
				<default type="codec">utf-8</default>
			</options>
		</subConfig>
		
		<subConfig type="documentFactory" id="clusterDocumentFactory">
			<objectType>documentFactory.BaseDocumentFactory</objectType>
			<options>
				<default type="data">tempCluster.data</default>
				<default type="cache">0</default>
				<default type="format">cluster</default>
				<default type="codec">utf-8</default>
			</options>
		</subConfig>


	    <!-- protocol map -->
	    <subConfig type="protocolMap" id="eadCqlProtocolMap">
	      <objectType>protocolMap.CQLProtocolMap</objectType>
	      <paths>
	        <path type="zeerexPath">zeerex_srw.xml</path>
	      </paths>
	    </subConfig>
	    
	    <subConfig type="protocolMap" id="eadZProtocolMap">
	      <objectType>protocolMap.Z3950ProtocolMap</objectType>
	      <paths>
	        <path type="zeerexPath">zeerex_z3950.xml</path>
	      </paths>
	    </subConfig>
	    
	    <subConfig type="protocolMap" id="eadOAIProtocolMap">
	      <objectType>protocolMap.OAIPMHProtocolMap</objectType>
	      <paths>
	        <path type="zeerexPath">zeerex_oai.xml</path>
	      </paths>
	    </subConfig>
	    
	    <!-- recordStores -->
	    <subConfig type="recordStore" id="recordStore">
	      <objectType>recordStore.BdbRecordStore</objectType>
	      <paths>
	      	<path type="defaultPath">stores</path>
	        <path type="databasePath">recordStore.bdb</path>
	        <path type="metadataPath">recordStoreMetadata.bdb</path>
	        <object type="inTransformer" ref="XmlTransformer" />
	        <object type="outParser" ref="LxmlParser" />
	      </paths>
	      <options>
	        <setting type="digest">sha</setting>
	      </options>
	    </subConfig>
	
	    <subConfig type="recordStore" id="eadDcStore">
	      <objectType>recordStore.BdbRecordStore</objectType>
	      <paths>
	      	<path type="defaultPath">stores</path>
	        <path type="databasePath">dcStore.bdb</path>
	        <path type="metadataPath">dcStoreMetadata.bdb</path>
	        <object type="inTransformer" ref="XmlTransformer" />
	        <object type="outParser" ref="LxmlParser" />
	      </paths>
	      <options>
	        <setting type="digest">sha</setting>
	      </options>
	    </subConfig>
		
	    <subConfig type="recordStore" id="componentStore">
	      <objectType>recordStore.BdbRecordStore</objectType>
	      <paths>
			<path type="defaultPath">stores</path>
	        <path type="databasePath">compStore.bdb</path>
	        <path type="metadataPath">compStoreMetadata.bdb</path>
	        <object type="inTransformer" ref="XmlTransformer" />
	        <object type="outParser" ref="LxmlParser" />
	      </paths>
	      <options>
	        <setting type="digest">sha</setting>
	      </options>
	    </subConfig>
	    
	    <!-- pre-parsers -->  
	    <subConfig type="preParser" id="emptyEmphTagStripPreParser">
	    	<objectType>preParser.RegexpSmashPreParser</objectType>
	    	<options>
	    		<setting type="regexp">&lt;emph altrender="[a-z]"/&gt;</setting>
	    	</options>
	    </subConfig>
	    
	    <subConfig type="preParser" id="eadSgmlPreParser">
	      <objectType>preParser.SgmlPreParser</objectType>
	      <options>
	        <setting type="emptyElements"> lb arc ptr prtloc extptr extptrloc colspec </setting>
	      </options>
	    </subConfig> 
	
	    <subConfig type="preParser" id="AmpPreParser">
	      <objectType>preParser.AmpPreParser</objectType>
	    </subConfig>
	    
	    <!-- special cluster and component stuff -->
	
	    <subConfig type="index" id="clusterExtractionIndex">
	      <objectType>index.ClusterExtractionIndex</objectType>
	      <paths>
			<path type="tempPath">tempCluster.data</path>
	        <object type="indexStore" ref="indexStore"/>
	      </paths>
	      <cluster>
	        <map type="key">
	          <xpath>controlaccess/subject</xpath>
	          <xpath>key</xpath>
	          <process>
	            <object type="extracter" ref="ExactExtracter"/>
	            <object type="normaliser" ref="CaseNormaliser"/>
	          </process>
	        </map>
	        <map>
	          <xpath>did/unittitle</xpath>
	          <xpath>title</xpath>
	          <process>
	            <object type="extracter" ref="ExactExtracter"/>
	            <object type="normaliser" ref="CaseNormaliser"/>
	          </process>
	        </map>
	        <map>
	          <xpath>subject</xpath>
	          <xpath>description</xpath>
	          <process>
	            <object type="extracter" ref="ExactExtracter"/>
	            <object type="normaliser" ref="CaseNormaliser"/>
	          </process>
	        </map>
	      </cluster>
	    </subConfig>
	
	
	    <!-- transformers -->
		<subConfig type="transformer" id="stripAudienceInternalTxr">
	      <objectType>transformer.LxmlXsltTransformer</objectType>
	      <paths>
	         <path type="xsltPath">xsl/stripAudienceInternalTxr.xsl</path>
	      </paths>
	    </subConfig>
	    
	    <subConfig type="transformer" id="htmlFullTxr">
	      <objectType>transformer.LxmlXsltTransformer</objectType>
	      <paths>
	         <path type="xsltPath">xsl/full.xsl</path>
	      </paths>
	    </subConfig>
	
	    <subConfig type="transformer" id="htmlFullSplitTxr">
	      <objectType>transformer.LxmlXsltTransformer</objectType>
	      <paths>
	         <path type="xsltPath">xsl/fullSplit.xsl</path>
	      </paths>
	    </subConfig>
	
	    <subConfig type="transformer" id="htmlSummaryTxr">
	      <objectType>transformer.LxmlXsltTransformer</objectType>
	      <paths>
	         <path type="xsltPath">xsl/summary.xsl</path>
	      </paths>
	    </subConfig>
	
	    <subConfig type="transformer" id="textTxr">
	      <objectType>transformer.LxmlXsltTransformer</objectType>
	      <paths>
	         <path type="xsltPath">xsl/text.xsl</path>
	      </paths>
	    </subConfig>
	
	    <subConfig type="transformer" id="eadDublinCoreTxr">
	      <objectType>transformer.LxmlXsltTransformer</objectType>
	      <paths>
	         <path type="xsltPath">xsl/ead2srw_dc.xsl</path>
	      </paths>
	    </subConfig>
	    
	    <subConfig type="transformer" id="OAIDublinCoreTransformer">
	      <objectType>transformer.LxmlXsltTransformer</objectType>
	      <paths>
	         <path type="xsltPath">xsl/ead2oai_dc.xsl</path>
	      </paths>
	    </subConfig>
    
		<subConfig type="transformer" id="tpgrsTxr">
			<objectType>transformer.GrsMapTransformer</objectType>
			<transform>
				<map>
					<xpath>#RAWRELEVANCE#</xpath>
					<xpath>10</xpath>
				</map>
				<map>
					<xpath>#DOCID#</xpath>
					<xpath>5</xpath>
				</map>
				<map>
					<xpath>/ead/archdesc/did/unittitle/text()</xpath>
					<xpath>1</xpath>
				</map>
				<map>
					<xpath>archdesc/did/unitid/text()</xpath>
					<xpath>28</xpath>
				</map>
				<map>
					<xpath>count(/ead/archdesc/dsc)</xpath>
          <xpath>17</xpath>
				</map>					
			</transform>
		</subConfig>
		
		<subConfig type="transformer" id="cTpgrsTxr">
			<objectType>transformer.GrsMapTransformer</objectType>
			<transform>
				<map>
					<xpath>#RAWRELEVANCE#</xpath>
					<xpath>10</xpath>
				</map>
				<map>
					<xpath>#DOCID#</xpath>
					<xpath>5</xpath>
				</map>
				<map>
					<xpath>did[1]/unittitle/text()</xpath>
					<xpath>1</xpath>
				</map>
				<map>
					<xpath>did[1]/unitid/text()</xpath>
					<xpath>28</xpath>
				</map>
				<map>
					<!-- id of parent document -->
					<xpath>#PARENT#/#DOCID#</xpath>
					<xpath>5</xpath>
				</map>
				<map>
					<!-- this needs to be the title of the parent document -->
					<xpath>#PARENT#/unittitle[1]/text()</xpath>
					<xpath>1</xpath>
				</map>		
			</transform>
		</subConfig>
		
		<!-- subConfig type="documentStore" id="textDocStore">
		  <objectType>documentStore.BdbDocumentStore</objectType>
		  <paths>
		    <path type="databasePath">stores/textStore.bdb</path>
		    <object type="inTransformer" ref="defaultDocumentStoreTransformer"/>
		    <object type="outParser" ref="defaultDocumentStoreParser"/>
		    <object type="idNormaliser" ref="StringIntNormaliser"/>
		  </paths>
		</subConfig -->
		
		<!--  resultSetStore -->
		<!-- BerkeleyDB -->
		<!--    <subConfig type="resultSetStore" id="eadResultSetStore">-->
		<!--      <objectType>resultSetStore.BdbResultSetStore2</objectType>-->
		<!--      <paths>-->
		<!--        <path type="databasePath">stores/resultSetStore.bdb</path>-->
		<!--        <path type="recordStoreHash">recordStore componentStore</path>-->
		<!--        <path type="databaseHash">db_ead</path>-->
		<!--      </paths>-->
		<!--      <options>-->
		<!--        <default type="resultSetTimeout">3600</default>-->
		<!--      </options>-->
		<!--    </subConfig>-->
		
		<!-- postgreSQL  -->
		<subConfig type="resultSetStore" id="eadResultSetStore">
		     <objectType>postgres.PostgresResultSetStore</objectType>
		     <paths>
		       <path type="databaseName">db_ead</path>
		       <path type="tableName">eadResultSetStore</path>
		       <path type="recordStoreHash">recordStore componentStore</path>
		       <object type="idNormaliser" ref="StringIntNormaliser"/>
		     </paths>
		     <options>
		       <default type="expires">3600</default>
		     </options>
		</subConfig>
			
		<!-- index stuff -->
		<subConfig type="indexStore" id="indexStore">
		  <objectType>indexStore.BdbIndexStore</objectType>
		  <paths>
		    <path type="defaultPath">indexes</path>
		    <path type="tempPath">temp</path>
		    <path type="recordStoreHash">recordStore componentStore</path>  
		  </paths> 
		</subConfig>
		
		<!-- indexes -->
		<path type="includeConfigs">configIdxs.xml</path>
		
		<!-- workflows - override default workflows -->
		<path type="includeConfigs">workflow.xml</path>

		<subConfig type="authStore" id="eadAuthStore">
		  <objectType>objectStore.BdbObjectStore</objectType>
		  <paths>
		    <path type="databasePath">eadAuthStore.bdb</path>
		  </paths>
		</subConfig>
		
	</subConfigs>

</config>

